<!--
  Generated template for the ScoringPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="flex 1 1 auto">Hydrogrow With Green</ion-title>
    <ion-buttons end>
      <button end ion-button icon-only color="light" class="clearIcon" tappable (click)="clear()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{teleopMode?"Teleoperated":"Autonomous"}}</h2>
        <p>Autonomous Points: {{autoTotal()}}</p>
      </ion-label>
      <ion-toggle [(ngModel)]="teleopMode" (ionChange)="autoToggle()"></ion-toggle>
    </ion-item>

    <div class="nutrients-container item" [hidden]="teleopMode">
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/YelCubeAng.png" tappable (click)="nutrients.auto.yv = nutrients.auto.yv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.yv = max(nutrients.auto.yv - 1, 0)">{{nutrients.auto.yv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/YelCube.png" tappable (click)="nutrients.auto.yh = nutrients.auto.yh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.yh = max(nutrients.auto.yh - 1, 0)">{{nutrients.auto.yh}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/GrnCubeAng.png" tappable (click)="nutrients.auto.gv = nutrients.auto.gv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.gv = max(nutrients.auto.gv - 1, 0)">{{nutrients.auto.gv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/GrnCube.png" tappable (click)="nutrients.auto.gh = nutrients.auto.gh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.gh = max(nutrients.auto.gh - 1, 0)">{{nutrients.auto.gh}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/WhiteCubeAng.png" tappable (click)="nutrients.auto.wv = nutrients.auto.wv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.wv = max(nutrients.auto.wv - 1, 0)">{{nutrients.auto.wv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/WhiteCube.png" tappable (click)="nutrients.auto.wh = nutrients.auto.wh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.auto.wh = max(nutrients.auto.wh - 1, 0)">{{nutrients.auto.wh}}</div>
      </div>
    </div>


    <div class="nutrients-container" [hidden]="!teleopMode">
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/YelCubeAng.png" tappable (click)="nutrients.teleop.yv = nutrients.teleop.yv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.yv = max(nutrients.teleop.yv - 1, 0)">{{nutrients.teleop.yv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/YelCube.png" tappable (click)="nutrients.teleop.yh = nutrients.teleop.yh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.yh = max(nutrients.teleop.yh - 1, 0)">{{nutrients.teleop.yh}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/GrnCubeAng.png" tappable (click)="nutrients.teleop.gv = nutrients.teleop.gv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.gv = max(nutrients.teleop.gv - 1, 0)">{{nutrients.teleop.gv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/GrnCube.png" tappable (click)="nutrients.teleop.gh = nutrients.teleop.gh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.gh = max(nutrients.teleop.gh - 1, 0)">{{nutrients.teleop.gh}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/WhiteCubeAng.png" tappable (click)="nutrients.teleop.wv = nutrients.teleop.wv + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.wv = max(nutrients.teleop.wv - 1, 0)">{{nutrients.teleop.wv}}</div>
      </div>
      <div class="nutrients">
        <img class="nutrients-image" src="assets/img/WhiteCube.png" tappable (click)="nutrients.teleop.wh = nutrients.teleop.wh + 1" />
        <div class="nutrients-number" tappable (click)="nutrients.teleop.wh = max(nutrients.teleop.wh - 1, 0)">{{nutrients.teleop.wh}}</div>
      </div>
    </div>
    <ion-item>
      <h3>Supersize Points: {{getAutoSupersize()}} + {{getTeleopSupersize()}} = {{getAutoSupersize() + getTeleopSupersize()}}</h3>
    </ion-item>

    <ion-item [hidden]="teleopMode">
      Nutrients Touching
      <div class="incDecContainer">
        <ion-icon class="decrementArrow" name="arrow-dropdown-circle" tappable (click)="autoBlocksTouching = max(autoBlocksTouching - 1, 0)"></ion-icon>
        <div class="currentIncDecValue">{{autoBlocksTouching}}</div>
        <ion-icon class="incrementArrow" name="arrow-dropup-circle" tappable (click)="autoBlocksTouching = autoBlocksTouching + 1"></ion-icon>
      </div>
    </ion-item>

    <ion-item [hidden]="!teleopMode">
      Harvested Fruit
      <div class="incDecContainer">
        <ion-icon class="decrementArrow" name="arrow-dropdown-circle" tappable (click)="fruit.harvested = max(fruit.harvested - 1, 0)"></ion-icon>
        <div class="currentIncDecValue">{{fruit.harvested}}</div>
        <ion-icon class="incrementArrow" name="arrow-dropup-circle" tappable (click)="fruit.harvested = fruit.harvested + 1"></ion-icon>
      </div>
    </ion-item>
    <ion-item [hidden]="!teleopMode">
      Delivered Fruit
      <div class="incDecContainer">
        <ion-icon class="decrementArrow" name="arrow-dropdown-circle" tappable (click)="fruit.delivered = max(fruit.delivered - 1, 0)"></ion-icon>
        <div class="currentIncDecValue">{{fruit.delivered}}</div>
        <ion-icon class="incrementArrow" name="arrow-dropup-circle" tappable (click)="fruit.delivered = fruit.delivered + 1"></ion-icon>
      </div>
    </ion-item>
    <ion-item [hidden]="!teleopMode">
      Packaged Fruit
      <div class="incDecContainer">
        <ion-icon class="decrementArrow" name="arrow-dropdown-circle" tappable (click)="fruit.packaged = max(fruit.packaged - 1, 0)"></ion-icon>
        <div class="currentIncDecValue">{{fruit.packaged}}</div>
        <ion-icon class="incrementArrow" name="arrow-dropup-circle" tappable (click)="fruit.packaged = fruit.packaged + 1"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <button ion-button style="height:35px" color="danger" tappable (click)="touchPenalties = touchPenalties + 1" col-9>Touch Penalty</button>
      <button ion-button style="height:35px" color="light" tappable (click)="touchPenalties = max(touchPenalties - 1, 0)" col-2>{{touchPenalties}}</button>
    </ion-item>

    <ion-item>
      <h2>Total: {{autoTotal()}} + {{teleopTotal()}} - {{touchPenalties*3}} = {{autoTotal() + teleopTotal() - touchPenalties*3}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
