page-scoring {
  $incButtonSize: 30px;

  .toolbar-content {
    display:flex;
  }

  .nutrients-container {
    display: flex;
    flex-direction: row;
  }

  .nutrients {
    flex: 1 1 auto;
    text-align: center
  }

  .nutrients-number {
    text-align: center;
    margins: 10px;
    padding: 15px;
    border: 2px solid gray;
    background-color:lightgray;
  }

  .incrementArrow {
    flex: 1 1 auto;
    font-size: $incButtonSize;
  }

  .decrementArrow {
    flex: 1 1 auto;
    font-size: $incButtonSize;
  }

  .currentIncDecValue {
    flex: 1 1 auto;
    font-size: $incButtonSize - 5px;
  }

  .incDecContainer {
    display:flex;
    float:right;
    width:40%
  }
}
